<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Mahasiswa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h2>Form Edit Mahasiswa</h2>
    <form th:action="@{/students/edit}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}">

        <div>
            <label for="name">Nama Mahasiswa:</label>
            <input type="text" id="name" th:field="*{name}">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}">
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label for="aClass">Pilih/Pindah Kelas:</label>
            <select id="aClass" th:field="*{aClass}">
                <option value="">-- Wajib Pilih Kelas --</option>
                <option th:each="classItem : ${classes}" th:value="${classItem.id}" th:text="${classItem.name}">Nama
                    Kelas
                </option>
            </select>
            <span class="error" th:if="${#fields.hasErrors('aClass')}" th:errors="*{aClass}"></span>
        </div>
        <button type="submit">Update Mahasiswa</button>
        <a th:href="@{/students}">Batal</a>
    </form>
</body>

</html>